.select-options--container {
    flex-direction: column;
    margin-top: var(--section-space);
    margin-bottom: 5rem;
    padding-top: var(--section-space);;
    border-top: 2px solid var(--grey);
}

.select-options__options {
    display: flex;
}

.select-options--text-section{
    color: #8a8a8a;
}

.select-options__option-item {
    padding: .75rem 1.5rem;
    margin-right: 1.5rem;
    background: var(--radio-buttons-bg);
    border-radius: var(--radius);
    letter-spacing: .05rem;
    font-size: 0.9rem;
    color: #fff;
    min-width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}


.select-options__option-item label {
    color:  var(--radio-buttons-text);
}


.select-options__option-item input[type='radio']{
    position: absolute;
    visibility: hidden;
    position: relative;
}
.select-options__option-item input[type='radio']::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -60%;
    right: -1rem;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    visibility: visible;
    border-radius: var(--radius);
    border: 4px solid #fff;
}
.select-options__option-item input[type='radio']:checked:after{
    content: '';
    position: block;
    background-color: var(--radio-buttons-bg);
}


.checked-tag {
    display: inline-block;
    border-radius: 100%;
    z-index: 5;
    display: none;
}