.select-options--container {
    display: flex;
    /* justify-content: space-between; */
    margin-top: var(--section-space);
    padding-top: var(--section-space);;
    border-top: 2px solid var(--grey);
    flex: 1;
}
.select-options__option-item {
    padding: .75rem 1.5rem;
    margin-right: 1.5rem;
    background: var(--teal);
    border-radius: var(--radius);
    letter-spacing: .05rem;
    font-size: 0.9rem;
    color: #fff;
    min-width: 100px;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.select-options__option-item input[type='radio']{
    position: absolute;
    visibility: hidden;
    position: relative;
}
.select-options__option-item input[type='radio']::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -60%;
    right: -1rem;
    padding: .5rem;
    background-color: #fff;
    visibility: visible;
    border-radius: var(--radius);
    border: 4px solid #fff;
}
.select-options__option-item input[type='radio']:checked:after{
    content: '';
    position: block;
    background-color:var(--teal);
    background-color: var(--orange);
}


.checked-tag {
    background-color: #fff;
    display: inline-block;
    border-radius: 100%;
    z-index: 5;
    display: none;
}

.select-options__option-item input[type='radio']:checked + .checked-tag {
    background-color: yellow;
    display: inline-block;
}

.text-options {

}