.background-blur-active {
    filter: blur(10px);
}

.active-textbox__toggle-logs-view {
    position: fixed;
    right: 0rem;
    top: 0rem;
    color: #fff;
    z-index: 55;
    letter-spacing: .1rem;
    background: #f593009d;
    padding: .75rem 2rem;
    border-bottom-left-radius: var(--radius);
    cursor: pointer;
    box-shadow: 3px 3px 9px #d4cebe;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.toggle-logs-view__icon {
    height: 2rem;
    width: 2rem;
    margin-right: .75rem;
}

/* .active-textbox__toggle-logs-view:hover::after {
    content: 'Logs Folder';
    color: #e6a100;
    position: absolute;
    padding: 0.5rem;
    top: 3.75rem;
    width: 120px;
    right: -35px;
    background: #fffaee;
    border-radius: var(--radius);
    text-align: center;
} */
.active-textbox__toggle-logs-view::before {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
/* .active-textbox__toggle-logs-view:hover::before {
    content: 'Text Logs';
    color: #e6a100;
    position: absolute;
    font-size: 1.15rem;
    top: 7rem;
    right: 0.75rem;
    border-radius: var(--radius);
    text-align: center;
    z-index: -190;
    opacity: 1;
    transition: opacity 250ms ease-in;
} */