<div class="main-container">
  <div class="text-inputs-container">
    <label for="title">Title:</label>
    <input type="text" name="" id="" #textTitle />
    <label for="body">Body:</label>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      [(ngModel)]="textBoxData"
      (keyup)="textBoxDataCollection()"
      #textBody
    ></textarea>
  </div>
  <!-- Text CSS clamp on number?? -->
  <div class="interactive-container">
    <div class="char-and-word-amt-container">
      <p>{{ charCountSansSpace }} Characters</p>
      <p>{{ wordCountSansSpace }} Words</p>
      <p>{{ charCountWithSpaceAndReturns }} </p>
    </div>
    <div class="char-and-word-amt-container">
      <!-- !! Provide a with spaces amount maybe with a toggle to view or jut viewable anyway -->
    </div>
    <div class="action-btns-container">
      <button class="action-btn" (click)="sendTextLogToSVC()">save
        <svg xmlns="http://www.w3.org/2000/svg" class="save-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
      </button>
      <span class="btn-break"></span>
      <button class="action-btn clear" (click)="clearTextBody()">clear
        <svg xmlns="http://www.w3.org/2000/svg" class="clear-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={5} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
        </button>
    </div>
    <app-select-options></app-select-options>
  </div>
</div>
