.text-logs__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 5rem 7.5% 1rem 1rem;
}

.text-logs__container {
    display: block;
    max-width: 33.3333332%;
    word-wrap: break-word;
    padding: 2rem 1rem;
}

.text-logs__logged-item {
    background-color: #fff;
    box-shadow: 20px 20px 30px #e7e7e7, -20px -20px 30px #ffffff;
    border-radius: var(--radius);
}

.logged-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logged-item__meta-data {
    display: flex;
    justify-content: flex-start;
    padding: 0 1.5rem;
    color: #bebebe;
    font-size: 0.90rem;
}

.logged-item__meta-data span {
    letter-spacing: 0rem;
}

.header__item-title {
    padding: 0 1.5rem;
}

.header__functional-icons {
    display: flex;
    align-items: center;
}

.functional-icons__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 1.5rem 1rem 0rem;
    cursor: pointer;
}

.functional-icons__icon .copy {
    color: var(--teal);
}

.functional-icons__icon .delete {
    color: var(--red);
}

.logged-item__logged-items {
    padding: 1.5rem;
}

.logged-items__item-body {
    line-height: 1.55rem;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 2rem;
}

.logged-items__option-id {
    margin-top: 2rem;
    color: #fff;
    border-radius: var(--radius);
    background-color: #178cbb2c;
    padding: 0.5rem 1.25rem;
    letter-spacing: 0.15rem;
    font-weight: 300;
}

.logged-items__set-amounts {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.logged-items__set-amounts span {
    background-color: var(--dark-blue);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: var(--radius);
    margin-right: 1rem;
    font-weight: 300;
}