.text-logs__overlay {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1rem 7.5% 1rem 1rem;

}

.text-logs__container {
    display: block;
    max-width: 50%;
    word-wrap: break-word;
    padding: 2rem  1rem;
}

.text-logs__logged-item {
    background-color: #fafafa;
    border-radius: var(--radius);
}

.logged-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logged-item__meta-data {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem;

}

.header__item-title {
    padding: 0 1.5rem;
}

.header__functional-icons {

}

.functional-icons__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 1rem 1.5rem;
    cursor: pointer;
}

.functional-icons__icon .copy {
    color: var(--teal);
}
.functional-icons__icon .color {
    color: var(--orange);
}
.functional-icons__icon .delete {
    color: var(--red);
}

.logged-item__logged-items {
    padding: 1.5rem;
}
.logged-items__item-body {
    line-height: 1.55rem;
}
.logged-items__set-amounts {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.logged-items__set-amounts span {
    background-color: var(--orange);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: var(--radius);
}
