/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*, *::before, *::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

p {
    margin: 0;
}

.major {
    min-height: 100%;
}

:root {
    --orange: #ffbb29;
    --blue: #5ec8e2;
    --red: #fc5454;
    --green: #00d68f;
    --teal: #17beb1;
    --grey: #e2e2e2;
    --dark-blue: #178cbb;
    --section-space: 3rem;
    --radius: 9px;
    --radio-buttons-text: #2a8b82;
    --radio-buttons-bg: #39beb144;
}

button {
    padding: .75rem 2rem;
    background: none;
    border: 2px solid #999;
    border-radius: 9px;
    cursor: pointer;
}

.proxy-btn {
    cursor: pointer;
}



